* {
    margin: 5px;
    padding: 3px;
    box-sizing:content-box;
  
  }
  body {
   font-family:fantasy;
   border: chartreuse;
   background-color: #7c0b0b;
  }
  a {
    text-decoration:double;
    color:brown;
  }
  ol {
    list-style:lower-roman;
    background-color: aqua;
 
  }
 ul{
  background-color: antiquewhite;
  list-style:circle;
 }
  /* Header Start */
header  {
  height: 25vh;
  background-color:blanchedalmond; 

}
.navbar {
  background-color:cornsilk;
  border-bottom: 2px solid chocolate; 
  position:static;
  z-index:unset;
  width:50%;
  padding: 1rem 1rem ;

}
#home #logo{
  font-weight: 400;
  font-size: 15px;
}
.navbar nav{
  display:flex;
  margin:auto;
  justify-content:center;
  align-items:end;
  max-width: 2000px;

}
.navbar nav ol{
  display: flex;
  justify-content:space-center;
  align-items:flex-start;
background-color:rgb(104, 104, 231);
}
.navbar nav ol a{
  margin: 0 15px;
  font-weight: 900;
  background-color: chartreuse;
}
.header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    margin: auto;
    height: 100%;
    align-items: center;
    color: rgb(71, 24, 138);
    padding:5rem 2rem;
}
.header-content img{
    width: 200px;
    height: 300px;
    border-radius: 30%;
}
.header-text p{
font-size: 30px;
font-weight: 400;
background-color: darkgrey;
}
/*Aboutme*/
.container {
  max-width: 1100px;
  margin: auto;
  background-color:rgb(244, 139, 139);}
  #contact {
  background: #c82028;
  padding: 5rem ;
}
#contact .container {
  max-width: 900px;
}
#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact .contact-info {
  width: 50%;
  margin: 30px 0;
}
#contact .contact-info h3 {
  font-size: 40px;
  color: #d73269;
  margin-bottom: 10px;
}
#contact .contact-info p {
  color: #351515;
  font-weight: 400;
}

#footer {
  background-color: #5151e1;
  text-align: center;
  color: #7c0b0b;
  padding: 15px 0;
  font-size: 18 px;
}

 
 
 